{% extends "base.html" %}

{% block title %}
管理者用商品編集ページ - Django ECサイト
{% endblock title %}

{% block content %}
<!-- header -->
<header class="bg-primary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Django ショップ</h1>
          <p class="lead fw-normal text-white mb-0">管理者用ページです。</p>
        </div>
    </div>
</header>
<!-- body -->
<section class="container px-4 px-lg-5 my-5">
  <form action="{% url "manage_items:update" object.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>商品編集フォーム</legend>
      <p>priceには0円より大きい値を入れてください。<br>
      フィールドは全て必須入力です。<br>
      <span class="text-danger">商品編集画面なので注意してください。</span></p>
      <table class="table">
        {{ form.as_table }}
      </table>
    </fieldset>
    <button type="submit" class="btn btn-success"><i class="bi bi-arrow-repeat me-1"></i>更新</button>
  </form>
  <a class="btn btn-secondary pl-5 mt-4" role="button" href="{% url "manage_items:index" %}"><i class="bi bi-arrow-left-short me-1"></i>商品一覧ページに戻る</a>
</section>
{% endblock content %}