{% extends "base.html" %}
<!-- Head-->
{% block title %}
  {{ object.name }} - Django ECサイト
{% endblock title %}
<!-- Body-->
{% block content %}
  <!-- Product section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img class="card-img-top mb-5 mb-md-0"
               src="{{ object.image.url }}"
               alt="..." />
        </div>
        <div class="col-md-6">
          <div class="small mb-1">{{ object.item_code }}</div>
          <h1 class="display-5 fw-bolder">{{ object.name }}</h1>
          <div class="fs-5 mb-5">
            <span>{{ object.price }}円</span>
          </div>
          <p class="lead">{{ object.content }}</p>
          <!-- カートに追加機能 -->
          <form action="{% url "carts:add" object.id %}" method="post" class="d-flex">
            {% csrf_token %}
            <div style="max-width: 5rem;" class="">{{ form.as_p }}</div>
            <button class="btn btn-outline-dark h-100 ms-5" type="submit">
              <i class="bi-cart-fill me-1"></i>
              カートに追加
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Related items section-->
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4 text-center">最新の商品</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <a href="{% url "items:detail" latest_product.id %}">
              <img class="card-img-top" src="{{ latest_product.image.url }}" alt="..." />
            </a>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ latest_product.name }}</h5>
                <!-- Product price-->
                {{ latest_product.price }}円
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <form action="{% url "carts:add" latest_product.id %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="quantity" value="1">
                  <button class="btn btn-outline-dark mt-auto" type="submit">カートに追加</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
